<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="backload" type="Backload.Configuration.BackloadSection, Backload, Version=1.9, Culture=neutral, PublicKeyToken=02eaf42ab375d363" requirePermission="false" /></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DispatcherAdvancedSearchResultCount" value="20" />
    <add key="RegionStorage" value="App_Data\RegionPoints" />

    <!--<add key="ContentFolder" value="D:\FTP\dexpa.ru\Content\Test" />-->
    <!--<add key="ContentFolder" value="D:\FTP\dexpa.ru\Content\Prod" />-->
    <add key="ContentFolder" value="D:\FTP\dexpa.ru\Content\Dev" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" executionTimeout="3600" maxRequestLength="1073741824" /> <!-- max 1GB -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" /> <!-- mxa 1GB -->
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <!--<add name="DexpaDatabase" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\dbDexpaDev.mdf;Initial Catalog=dbDexpaDev;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DexpaDatabase" connectionString="Server=dexpa.ru;database=dbDexpaDev;User Id=dexpa_dev;Password=z7D4U5WxLG88qP2;" providerName="System.Data.SqlClient" />
    <!--<add name="DexpaDatabase" connectionString="Server=dexpa.ru;database=dbDexpaTest;User Id=dexpa_test;Password=Y8311314G015oB2;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DexpaDatabase" connectionString="Server=dexpa.ru;database=dbDexpaProd;User Id=dexpa_prod;Password=v242MqM1XCzx213;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DexpaDatabase" connectionString="Server=dispatch.kortezh-avto.ru;database=dbDexpaProd;User Id=dexpa_prod;Password=6ULi92HtaYXj5cfJ;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <backload>
    <fileSystem filesRoot="~/Content/Files" usersRoot="" objectsRoot="" copiesRoot="" />
    <images forceImageType="image/jpeg" maxFileSize="0" />
    <thumbnails path="" />
    <security allowAnonymous="false"/>
  </backload>
  <system.diagnostics>
    <trace autoflush="true" />
    <!-- True, if the content of the trace event cache should be flushed with every trace event (default: false) -->
    <sources>
      <source name="Backload" switchName="traceLevel">
        <!-- TraceSource name must be "Backload". -->
        <listeners>
          <add name="logfile" />
          <!-- Trace output to log file, but only errors (see filter below) -->
          <add name="xmlfile" />
          <!-- XML output for the Microsoft Service Trace Viewer -->
          <!-- <remove name="Default" /> -->
          <!-- Remove the default trace listener (Visual Studio output window) -->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/backload.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information, ActivityTracing, Error" />
        <!--Only log errors in this listener-->
      </add>
      <add name="xmlfile" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logs/backload.svclog" traceOutputOptions="DateTime" />
      <!--traceOutputOptions="DateTime,LogicalOperationStack,Callstack" />-->
    </sharedListeners>
    <switches>
      <!-- Set the level at which tracing is to occur. Example: <add name="traceLevel" value="Error" /> -->
      <!-- Valid levels are Off, Critical, Warning, Information, Verbose. Optional: ActivityTracing -->
      <!-- To turn tracing off set the value attribute to "Off". Example: <add name="traceLevel" value="Off" /> -->
      <add name="traceLevel" value="Information, ActivityTracing" />
    </switches>
  </system.diagnostics>
</configuration>