<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DexpaDatabase" connectionString="Server=dispatch.kortezh-avto.ru;database=dbDexpaProd;User Id=dexpa_prod;Password=6ULi92HtaYXj5cfJ;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="YandexTaxiHost" value="https://ymsh.mobile.yandex.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TracksUrl" value="http://extjams.maps.yandex.net/taxi_collect/1.x/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
