<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="DexpaDatabase" connectionString="Server=dexpa.ru;database=dbDexpaTest;User Id=dexpa_test;Password=Y8311314G015oB2;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    <add name="DexpaDatabase" connectionString="Server=dexpa.ru;database=dbDexpaDev;User Id=dexpa_dev;Password=z7D4U5WxLG88qP2;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!--<add name="DexpaDatabase" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\dbDexpaDev.mdf;Initial Catalog=dbDexpaDev;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>
  <appSettings>
    <add key="YandexTaxiHost" value="https://ymsh.taxi-partners-test.mobile.yandex.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TracksUrl" value="http://tst.extjams.maps.yandex.net/taxi_collect/1.x/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>